body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.state{
  padding: 20px;
  margin: 20px;
  background-color: grey;
  border: 1px solid red;
}
.result{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

li{
  list-style-type: none;
  color: black;
  margin: 5px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  display:inline;
}

h2{
  margin-left: 100px;
  margin-right: 10px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #c0c0c0;
  text-align: left;
}

.trains{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  /*border: 1px solid red;*/
}

.train{
  margin: 5px;
  padding: 10px;
  border-radius: 40px;
}

button{
  background-color: rgba(162, 159, 159, 0.16);
  border: none;
}

.Haryana{
  color: #af5512;
  font-size: 14.26px;
}

.HP{
  color: #fff8f3;
  font-size: 0.1px;
}

.Tripura{
  color: #ffeede;
  font-size: 0.1px;
}

.JK{
  color: #eae2da;
  font-size: 0.41px;
}

.Kerala{
  color: #e2d7cf;
  font-size: 3.92px;
}

.Assam{
  color: #e8c5a6;
  font-size: 4.76px;
}

.Chhatisgarh{
  color: #d3b294;
  font-size: 5.12px;
}

.Punjab{
  color: #e2a771;
  font-size: 6.1px;
}
.Jharkhand{
  color: #cf9b67;
  font-size: 6.96px;
}
.Karnataka{
  color: #ea8f4b;
  font-size: 9.85px;
}
.Telangana{
  color: #ce823e;
  font-size: 10.89px;
}
.TN{
  color: #bf7a35;
  font-size: 10.98px;
}
.Odisha{
  color: #dd7017;
  font-size: 12.1px;
}
.Rajasthan{
  color: #af5902;
  font-size: 14.03px;
}
.Gujrat{
  color: #894c1a;
  font-size: 14.26px;
}
.WB{
  color: #834302;
  font-size: 15.77px;
}

.AP{
  color: #7a3c04;
  font-size: 17.2px;
}

.Bihar{
  color: #66370c;
  font-size: 21.82px;
}

.Delhi{
  color: #582d01;
  font-size: 33.56px;
}

.MP{
  color: #472304;
  font-size: 44.61px;
}

.UP{
  color: #2c1601;
  font-size: 71.68px;
}

.Maharashtra{
  color: #000000;
  font-size: 72.77px;
}
